/* .experiencia {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
} */

.experiencia {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  align-items: center;
  width: 50%;
}
