.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu li {
  margin: 6px;
}
@media (max-width: 780px) {
  .header {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .header-menu a {
    background-color: #d3d3d3;
    padding: 4px;
    border-radius: 3px;
  }
}
